{{!-- <h1>{{title}}</h1> --}}

{{!-- creo una sezione vuota che vado a riempire con le chiamate ajax stile prof --}}
<div id="gameData">
</div>

<script type="text/javascript">
    window.onload = function () {
        //if ("{{apiFunction}}") { // perche id univoco preso da backend
            // qui metto logica per mostrare errore al client

            $.getJSON("{{{apiFunction}}}").done(function (game) {
                // Qui prendo il risultato della chiamata api che resituisce 
                // le informazioni di un gioco e le vado a inserire nella pagina html
                // come e' stato fatto in games_ajax.bhs

                // getting all HTML and data into one variable, then use the jquery append function
                var gameHTML = '';
                // using single quotes two avoid escaping the double quotes of HTML, also using \ at the end of the row in order to reduce the number of single quotes necessary to create a multi-row string
                gameHTML = gameHTML + 
                    '<button style="float:right; display:none;" class="button icon solid fa-star" id="favBut" onclick="addFavorite(' + game.id + ', \'' + game.name + '\')">NON PREFERITO</button>\n\
                    <h1 style="text-align: center;">' + game.name + '</h1>\n\
                    {{!-- se esiste il video lo faccio vedere --}}\n';
                
                if (game.videos) {
                    gameHTML = gameHTML + 
                        '<iframe style="width:100%; height: 60vw; max-height: 70vh;" src="https://www.youtube.com/embed/' + game.videos +
                        '?controls=0&autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>\n'
                    ;
                }
               
                gameHTML = gameHTML +
                    '<div id="container">\n\
                        <div id="sinistra">\n\
                            <h2><i class="fas fa-file-alt"></i>DESCRIZIONE</h2>\n\
                            <p>' + game.summary + '</p>\n\
                        </div>\n\
                        <div id="destra">\n\
                            <h2><i class="fas fa-dice"></i>GENERE</h2>\n'
                ;
                
                        if (game.genres)
                            gameHTML = gameHTML + '<p>' + game.genres + '</p>\n';
                        //else 
                        // gameHTML = gameHTML + '<p>/</p>';        
                        gameHTML = gameHTML + '<h2><i class="fas fa-desktop"></i>PIATTAFORME</h2>\n';
                
                        if (game.platforms)
                            gameHTML = gameHTML + '<p>' + game.platforms + '</p>\n';
                        // else p vuoto
                
                        gameHTML = gameHTML + '<h2><i class="fas fa-calendar-times"></i>DATA DI USCITA</h2>\n';
                        if (game.release_dates)
                            gameHTML = gameHTML + '<p>' + game.release_dates + '</p>\n';
                        //else 
                        // gameHTML = gameHTML + '<p>/</p>'; 

                        gameHTML = gameHTML + '<h2><i class="fas fa-code"></i>SVILUPPATORE</h2>\n';
                        if (game.involved_companies)
                            gameHTML = gameHTML + '<p>' + game.involved_companies + '</p>\n';
                        //else 
                            // gameHTML = gameHTML + '<p>/</p>';

                        gameHTML = gameHTML + '<h2><i class="fas fa-network-wired"></i>SITO UFFICIALE</h2>\n';
                        if (game.websites)
                            gameHTML = gameHTML + '<a href="' + game.websites + '">' + game.websites + '</a>\n';
                        //else 
                            // gameHTML = gameHTML + '<p>/</p>';
                        gameHTML= gameHTML + 
                        '</div>\n\
                    </div>\n';
                
                // finally, append the created HTML in the initial div
                $("#gameData").append(gameHTML);
            
            }).fail(function () {
                alert("Error on the query {{apiFunction}}");
            });
        //}
       // else {
            // qui metto logica per mostrare errore al client
           // alert("Errore nella chiamata api");
       // }
    }
</script>